/* General CSS */
body {
    /* background-color: #E5E1D6; */
    background-color: white;
}

h1 {
    margin: 10px 5px;
    padding: 0px 5px;
    font-size: 24px;
}

h2 {
    font-size: 20px;
    color: #102626;
}

h3 {
    margin: 16px 0px;
    text-align: center;
}

p {
    font-size: 16px;
    margin: 12px 0px;
}


/* NavBar.tsx CSS */
.NavBar {
    padding: 20px 40px;
    background-color: #282c34;
    text-decoration: none;
    display: flex;
    justify-content: left;
    color: white;
}

.NavBarLinks {
    float: right;
    padding: 10px;
}

nav {
    text-decoration: none;
}

.Link {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

a:visited {
    color: white;
}

a:link {
    margin: 0px 20px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: #2CA8A5;
}

/* Recipes.tsx CSS */
/* Search Filter*/
.search-form {
    display: flex;
    justify-content: space-around;
}

.searchType {
    margin: 0px 15px;
}

.search-button {
    font-family: 'Montserrat';
    font-size: 18px;
    background-color: #2CA8A5;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 200px;
    margin-top: 30px;
}

.search-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #2CA8A5;
}

.requriedField {
    font-size: 12px;
}



/* Results.tsx CSS */
.grid {
    margin: 8px auto;
    max-width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recipeCard {
    /* background-color: #cc4c00; */
    background-color: #E7B964;
    border-radius: 16px;
    padding: 20px;
    margin: 15px;
    max-width: 250px;
}

.recipeCard:hover {
    transform: translateY(-1px) scale(1.002) translateZ(0);
    box-shadow: 0 8px 16px rgba(220, 233, 255, 0.48), 0 10px 20px;
}

.recipeResults {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Favorites Add + Delete Buttons CSS
In Results.tsx  & Favorites.tsx*/

.RecipeFavorites {
    align-content: left;
}

.addButton {
    font-family: 'Montserrat';
    font-size: 14px;
    background-color: #2CA8A5;
    border-radius: 8px;
    border-style: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.deleteButton{
    font-family: 'Montserrat';
    font-size: 14px;
    background-color: #2CA8A5;
    border-radius: 8px;
    border-style: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    align-items: center;
}


/* Mobile and Below */
@media all and (max-width: 600px) {
    h1 {
        margin: 10px 5px;
        font-size: 18px;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .NavBar {
        padding: 10px 5px;
    }

    a.Link {
        font-size: 16px;
    }

    .search-form {
        display: flex;
        flex-direction: column;
    }
}



/* @media only screen and (min-width: 1281px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
    }

    .search-form {
        display: flex;
        flex-direction: column;
    }
} */